<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Domain.Properties.Settings.DBv2ConnectionString" connectionString="Data Source=DESKTOP-EV3588L\LOCALDATABASE;Initial Catalog=DBv2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>